*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.012em;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

form{
    display: flex;
  flex-direction: column;
  justify-content: center;
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    
    transform: translate(-20%,-2%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 2rem;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #35363a;
  margin: 2rem 2rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.03), 0 1rem 2rem rgba(0, 0, 0, 0.05), 0 2rem 4rem rgba(0, 0, 0, 0.05), 0 4rem 8rem rgba(0, 0, 0, 0.05);
}

.cta {
  display: flex;
  color: #000000;
  background-color: #35363a;
  flex: 1;
  flex-direction: column;
  padding: 6rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 48rem) {
  
    .body {
    flex-direction: row;
  }

  .form {
    margin: 0;
    box-shadow: none;
  }

  .cta__content {
    max-width: 48rem;
    margin: auto;
    background-color: #ffffff;
    height: 250px;
    justify-content: center;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 4rem;
  }

  .cta__content2 {
    max-width: 48rem;
    margin: auto;
    background-color: #ffffff;
    height: 250px;
    justify-content: center;
    padding: 4rem;
    top: 50%;
    left: 50%;
    border-radius: 10px;
  }
}

button{
    margin-top: 50px;
    height: 42px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 9px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}

.go{
    width: 100%;
}

.or_msg{
    font-size: 20px;
    font-weight: 350;
    line-height: 42px;
    text-align: center;
    margin-bottom: -27px;
}

.social i{
  margin-right: 4px;
}

.already_login{
    height: 35px;
    font-size: 20px;
    font-weight: 350;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    margin-left: -141px;
    transform: translate(-107%,1790%);
}