<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="../../images/Logo.png" />
    <title>Contact Us | WBS</title>
  </head>
  <body>
    <div class="contact-form">
      <h1>Contact Us</h1>
      <div class="container">
        <div class="main">
          <div class="content">
            <h2>
              Your feedback matters to us. Contact us anytime, and let's create
              a better experience together.
            </h2>
            <form action="#" method="post">
              <input type="text" name="name" placeholder="Enter your name" />
              <input
                type="email"
                name="email"
                placeholder="Enter your email-id"
              />
              <textarea
                name="message"
                id=""
                placeholder="Your message"
              ></textarea>
              <button type="submit" class="btn">
                Send <i class="fas fa-paper-plane"></i>
              </button>
            </form>
          </div>
          <div class="form-img">
            <img src="../../images/bg5.png" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
